/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('/images/back-Photoroom.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem 2rem;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
}

.logo-text {
    font-size: 1.5rem; /* Adjust size as needed */
    font-weight: bold;
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove underline */
    margin-right: 2rem; /* Add spacing between logo-text and nav bar */
}

.logo-text:hover {
    color: #fbcaff; /* Optional: Add hover effect */
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-menu li a {
    color: #f3e9ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #fbcaff;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #f3e9ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2em; /* Makes the text a bit larger */
    line-height: 1.6;  /* Improves readability */
    color: #ffffff; /* Ensures the text color is dark enough for readability */
    margin: 20px auto; /* Adds spacing around the paragraph */
    max-width: 800px; /* Ensures the text doesn't stretch too wide */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content-section {
    padding: 4rem 2rem;
    text-align: center;
    margin: 2rem 0;
    border-radius: 10px;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.content-section p {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #f3e9ff;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #48267e;
    font-size: 0.9rem;
    color: #fbcaff;
}

